.dates {
    /**Positioning**/
    display:block;

    /**Styling the background**/
    background-color: aliceblue;
    width:fit-content;
    white-space: nowrap;
    margin:20px;
    padding:20px;
    
    font-size:38px;
}
section#name {
    display:flex;
    width:auto;
    height:auto;
    overflow: hidden;
    white-space: nowrap;
}

section input#nameInput {
    /**Input name box**/
    text-overflow: ellipsis;
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;
    text-align: center;

    /**Outline turns the border to black when highlighted, border turns it off while ignored**/
    outline-color:black;
    border: 6px;
    background-color: #e7e7e7;
}

section#name h2 {
    /**Reverts 'Name here' to black and customises**/
    position:relative;
    top:10px;
    margin-right:180px;
    color:black;
    font-size: 60px;
}

input {
    /**Size of checkmark**/
    width: 26px;
    height: 26px;
}

h2 {
    /**Style for month**/
    font-size: 50px;
    color: maroon;
    height:100px;
    width:150px;
}



section.month {
    /**lines up the months in a row**/
    display: inline-flex;
}

.firstDate {
    /**Border for month**/
    border-color: black;
    border-left-style:solid
}

div.dates {
    width: 250px;
    height: 100px;
}

#button {
    font-size: 50px;
    width:300px;
    height:120px;
    background-color: #e7e7e7; 
    color: black;
    border: none;
}

#buttonHolder {
    display: flex;
    
}

